body {
    background-color: black;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-swiper {
    /* display: flex;
    flex-direction: column; */
}

.cards-groups,
.cards-container,
.card {
    aspect-ratio: 5 / 7;
    position: absolute;
}

.cards-groups, 
.cards-container, 
.big-card {
    width: 20vmin;
    height: 30vmin;
} 

.cards-container[data-status="unknown"] {
    transform: scale(0);
}

.card {
    border: solid 2px #FFFFFF;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    background-repeat: no-repeat;
    background-size: cover;
}

.big-card {
    border-radius: 1.5vmin;
}

.tiny-card {
    width: 5vmin;
    height: 8vmin;
    border-radius: 1vmin;
    display:inline;
}


/* =====================
   ======= CARDS =======
   ===================== */

/* big cards */
.big-card:nth-child(1) {
    z-index: +3;
    background-image: url('./assets/picture/Shetland\ Duck.jpg');
}

.big-card:nth-child(2) {
    transform: translateX(-3%) rotate(-3deg);
    z-index: +2;
    background-image: url('./assets/picture/1-female-mallard-duck-j-mccombie.jpg');
}

.big-card:nth-child(3) {
    transform: translateX(-5%) rotate(-6deg);
    background-image: url('./assets/picture/5da08feb89b56_ovBHh7o__700.jpg');
}

.big-card:nth-child(4) {
    transform: translateX(-8%) rotate(-9deg);
    z-index: -1;
    background-image: url('./assets/picture/a358b84c387154105b6ff9644508f51d--raising-ducks-cute-ducklings.jpg');
}

/* tiny cards */
.tiny-card:nth-child(5) {
    background-image: url('./assets/picture/1000_F_199783168_yBZdDwJbUOnAi8UXAEZEQs2RMAOAjwvX.jpg');
}

.tiny-card:nth-child(6) {
    background-image: url('./assets/picture/2300.jpg');
}

.tiny-card:nth-child(7) {
    z-index: +2;
    background-image: url('./assets/picture/parade-nuptiale-du-tadorne-de-belon.jpg');
}

.tiny-card:nth-child(8) {
    z-index: +2;
    background-image: url('./assets/picture/Happy-ducks-5767.jpg');
}


/* =====================
   ======= HOVER =======
   ===================== */

/* big cards */
.cards-container:hover > .big-card:nth-child(1) {
    transform: translateX(90%) rotate(30deg) translateY(23%);
}

.cards-container:hover > .big-card:nth-child(2) {
    transform: translateX(20%) rotate(12deg) translateY(3%);
}

.cards-container:hover > .big-card:nth-child(3) {
    transform: translateX(-45%) rotate(-15deg) ;
}

.cards-container:hover > .big-card:nth-child(4) {
    transform: translateX(-100%) rotate(-25deg) translateY(8%);
}

/* tiny cards */
.cards-container:hover > .tiny-card:nth-child(5) {
    /* transform: translate(410%, -110%) rotate(-18deg); */
    transform: translate(490%, 10%) rotate(-18deg);
}

.cards-container:hover > .tiny-card:nth-child(6) {
    transform: translate(380%, 440%) rotate(13deg);
}

.cards-container:hover > .tiny-card:nth-child(7) {
    /* transform: translate(-390%, -180%) rotate(10deg); */
    transform: translate(-160%, -50%) rotate(10deg);
}

.cards-container:hover > .tiny-card:nth-child(8) {
    /* transform: translate(-410%, 240%) rotate(-13deg); */
    transform: translate(-330%, 350%) rotate(-13deg);
}


/* =====================
   ====== BUTTONS ======
   ===================== */

.card-swiper-buttons {
    margin-top: 35vmin;
    margin-left: 4vmin;
}

.button {
    margin: 1vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 25px;
    border: solid 2px #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 1.8vmin;
    cursor: pointer;
}

#like-button:hover {
    color: #5dc8fc; 
}

#dislike-button:hover {
    color: #d40000;
}

.button-like {

}

.button-dislike {

}