body {
    background-color: black;
    margin: 0px;
}

.cards-container {
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    aspect-ratio: 5 / 7;
    position: absolute;
    border: solid 2px #FFFFFF;
}

.big-card {
    margin: 0 auto;
    width: 20vmin;
    height: 30vmin;
    border-radius: 1.5vmin;
}

.tiny-card {
    margin: 0 auto;
    width: 5vmin;
    height: 8vmin;
    border-radius: 1vmin;
}


